a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

.panel-heading {
    display: block;
}

.main-sidebar {
    background: #222d32;
    left: 0;
    min-height: 100%;
    padding-top: 50px;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
    width: 230px;
    z-index: 810;
}

.sidebar {
    padding-bottom: 10px;
}

.sidebar-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}
.sidebar-menu li.header {
    font-size: 12px;
    padding: 10px 25px 10px 15px;
}

.sidebar-menu > li {
    margin: 0;
    padding: 0;
    position: relative;
}

.sidebar-menu > li > a {
    border-left: 3px solid transparent;
    display: block;
    padding: 12px 5px 12px 15px;
     position: relative;
}

.sidebar a {
    color: #b8c7ce;

}

.sidebar a:hover, .sidebar a:focus {
    text-decoration: none;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon {
    width: 20px;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    background: #1e282c none repeat scroll 0 0;
    border-left-color: #3c8dbc;
    color: #fff;
}

.content-wrapper {
    background-color: #ecf0f5;
    margin-left: 230px;
    min-height: calc(100% - 50px);
    min-width: calc(100% - 230px);
    position: absolute;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
}

.content-header {
    padding: 15px 15px 0;
    position: relative;
}

.content-header > h1 {
    font-size: 24px;
    margin: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    padding: 15px;
}
.main-header {
    max-height: 100px;
    position: relative;
    z-index: 1030;
}

.main-header .logo {
    background-color: #367fa9;
    border-bottom: 0 solid transparent;
    color: #fff;
}
.main-header .navbar .nav > li > a {
    color: #fff;
    font-weight:400;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}

.main-header .navbar .nav > li > a:active,.main-header .navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;

}
.main-header .logo {
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    transition: width 0.3s ease-in-out 0s;
    width: 230px;
}

.main-header > .navbar {
    background-color: #3c8dbc;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 230px;
    min-height: 50px;
    transition: margin-left 0.3s ease-in-out 0s;
}

.main-header .navbar-custom-menu, .main-header .navbar-right{
    float: right;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.box-body {
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

.table-bordered {
    border: 1px solid #f4f4f4;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border:1px solid #f4f4f4;
}

.grid-view .pagination {
    float: left;
}

.grid-view .summary {
    float: right;
    margin: 20px 0;
}

.option-input-container {
    margin-bottom: 10px;
}

input.product-option.form-control  {
    width: 90%;
    float: left;
    margin-right: 10px;
}